@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

html,body{
    top: 0;
    left: 0;
    height: 100%;
    background-color: #fafafa !important;
}

h3,h4{
    color: #212121 !important;
}

p{
    color: #757575;
}

.wrapper{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    background-color: #fafafa !important;
    overflow: hidden;
}

.sidebar{
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100%;
    background-color: #fafafa !important;
    scroll-behavior: smooth;
}

#container__date_time{
    height: auto;
    width: auto;
    margin: 8px;
    background-color: #fafafa !important;
    color: #212121;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

#container__weather{
    height: 20%;
    min-height: 128px;
    max-height: 128px;
    margin: 8px;
    margin-top: -40px;
    overflow: hidden;
    background-color: #fafafa !important;
    color: #212121 !important;
}

#container__class_data{
    height: auto;
    width: auto;
    margin: 8px;
    margin-top: -40px;
    background-color: #fafafa !important;
    color: #212121;
    font-family: 'Montserrat', sans-serif;
}

#container__metadata{
    height: auto;
    width: auto;
    margin: 8px;
    margin-top: -40px;
    background-color: #fafafa !important;
    color: #212121;
    font-family: 'Montserrat', sans-serif;
}


#content_main{
    flex: 1;
    width: 75%;
    height: 100%;
    margin-top: 8px;
    background-color: #fafafa !important;
}

#webview{
    margin: -16px;
    padding-bottom: -16px;
    height: 100%;
    width: auto;
}