@import url('https://fonts.googleapis.com/css?family=Montserrat:700');
@import url('https://fonts.googleapis.com/css?family=Roboto:100');

html,
body {
    top: 0;
    left: 0;
    height: 100%;
    background-color: #2c3e50 !important;
}

h2 {
    color: #fafafa;
    margin-bottom: 16px;
    font-family: 'Montserrat', sans-serif;
}

h4 {
    color: #ecf0f1;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: #2c3e50 !important;
    overflow: auto;
}

#container__settings__school {
    height: auto;
    width: auto;
    margin: 16px;
    background-color: #34495e !important;
    color: #ecf0f1;
    font-family: 'Montserrat', sans-serif;
}

.settings_school_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#settings__school__input__school_server {
    margin-top: 12px;
    width: 50%;
    max-width: 70%;
}

#settings__school__input__school_server:hover {
    border-color: #3498db !important;
}

#settings__school__input__school_server:focus {
    border-color: #3498db !important;
}

#settings__school__input__school_server:hover:focus {
    border-color: #3498db !important;
}

#container__settings__application_dropdown_theme{
    font-family: 'Roboto', sans-serif !important;
}

#container__settings__application {
    height: auto;
    width: auto;
    margin: 16px;
    margin-top: -32px;
    background-color: #34495e !important;
    color: #ecf0f1 !important;
}

.settings__application__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#container__settings__information {
    height: auto;
    width: auto;
    margin: 16px;
    margin-top: -32px;
    overflow: hidden;
    background-color: #34495e !important;
    color: #ecf0f1 !important;
}

.wrapper__settings__information_buttons {
    display: flex;
    flex-direction: row;
}

#settings__information__button_check_updates {
    margin-left: 16px;
}

#settings__information__button_help {
    margin-left: 16px;
}

#settings__button_save_settings {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 16px;
}