@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900');

html,
body {
    height: 100%;
    overflow: hidden;
    background-color: #fafafa;
}

h1 {
    margin: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

h2 {
    margin-left: 16px;
    margin-top: 32px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

h3 {
    margin-left: 16px;
    margin-top: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}

h6 {
    margin: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #757575;
}

hr {
    margin-left: 16px;
    margin-right: 16px;
}

#form_school {
    margin-top: 16px;
    margin-left: 24px;
    margin-right: 32px !important;
    margin-bottom: 16px;
    width: 95%;
}

.container_options_lr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 16px;
    margin-left: 24px;
    margin-right: 32px;
    margin-bottom: 16px;
}

#wrapper {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

#content_settings {
    width: 70%;
    margin-left: 16px;
    margin-top: 16px;
    overflow: auto;
}

.sidebar {
    display: flex;
    height: 100%;
    width: auto;
    flex-direction: column;
    justify-content: space-evenly;
}

#sidebar_information{
    height: auto;
}

#sidebar_buttons{
    margin: 16px;
}

#btn_check_updates{
    margin-bottom: 16px;
}

#btn_save_my_ass{
    margin-bottom: 16px;
}