@import url('https://fonts.googleapis.com/css?family=Ubuntu:100,200,300,400,500,600,700,800,900');

html,
body {
    height: 100%;
    width: 100%;
    background-color: #fafafa;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.wrapper {
    height: 100%;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.card {
    margin: 16px;
}

.card__section-header{
    margin-left: 16px;
}

#btn_save_settings {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 16px;
}

.buttonContainer_horizontal {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}